<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateDatabase</servlet-name>
    <servlet-class>CreateDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDatabase</servlet-name>
    <url-pattern>/CreateDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePlayer</servlet-name>
    <servlet-class>CreatePlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePlayer</servlet-name>
    <url-pattern>/CreatePlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllPlayers</servlet-name>
    <servlet-class>AllPlayers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPlayers</servlet-name>
    <url-pattern>/AllPlayers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateGame</servlet-name>
    <servlet-class>CreateGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGame</servlet-name>
    <url-pattern>/CreateGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOnlineGames</servlet-name>
    <servlet-class>GetOnlineGames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOnlineGames</servlet-name>
    <url-pattern>/GetOnlineGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGame</servlet-name>
    <servlet-class>DeleteGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGame</servlet-name>
    <url-pattern>/DeleteGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DumpDB</servlet-name>
    <servlet-class>DumpDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpDB</servlet-name>
    <url-pattern>/DumpDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOnlinePlayers</servlet-name>
    <servlet-class>GetOnlinePlayers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOnlinePlayers</servlet-name>
    <url-pattern>/GetOnlinePlayers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connect</servlet-name>
    <servlet-class>Connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/Connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/Disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartGame</servlet-name>
    <servlet-class>StartGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartGame</servlet-name>
    <url-pattern>/StartGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CanMove</servlet-name>
    <servlet-class>CanMove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanMove</servlet-name>
    <url-pattern>/CanMove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeMove</servlet-name>
    <servlet-class>ChangeMove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMove</servlet-name>
    <url-pattern>/ChangeMove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateArea</servlet-name>
    <servlet-class>UpdateArea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArea</servlet-name>
    <url-pattern>/UpdateArea</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
</web-app>